<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Contact Management&nbsp;</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggleSidebar()"  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacts']">Contacts</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <ul class="navbar-nav form-inline mt-2 mt-md-0">
          &nbsp;
          <li class="nav-item dropdown" dropdown>
            <a href="javascript:void(0)" id="basic-link" class="nav-link dropdown-toggle" dropdownToggle>
              <i class="fa fa-user"></i> {{ user?.firstName }} {{ user?.lastName }} <b class="caret"></b>
            </a>
            <div id="basic-link-dropdown" class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/profile']" routerLinkActive="router-link-active">
                <i class="fa fa-fw fa-user"></i> Profile
              </a>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onLoggedout()"> <i class="fa fa-fw fa-power-off"></i>Log
                Out </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
