<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-4 col-md-8 mx-auto">
          <div class="card">
            <article class="card-body">
              <a [routerLink]="['/register']" class="float-right btn btn-outline-primary">Sign up</a>
              <h4 class="card-title mb-4 mt-1">Sign in</h4>
              <form (submit)="login(loginForm)" novalidate autocomplete="off" [formGroup]="loginForm" class="row g-3">
                <div class="col-sm-12 col-md-12">
                  <label>User Name</label>
                  <input class="form-control" placeholder="Email" type="email" name="username" formControlName="userName" />
                </div>
                <div class="col-sm-12 col-md-12">
                  <label>Password</label>
                  <input class="form-control" placeholder="******" type="password" name="password" formControlName="password" />
                </div>
                <div class="col-sm-12 col-md-12">
                  <!-- form-group// -->

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="rememberMe" formControlName="rememberMe" />
                      Remember me
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12">
                  <!-- checkbox .// -->

                  <!-- form-group// -->
                  <div class="form-group">
                    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">Login</button>
                  </div>
                </div>
                <!-- form-group// -->
              </form>
            </article>
          </div>
          <!-- card.// -->
        </div>
      </div>
    </div>
  </div>
</div>
