<div class="toast-container position-fixed top-0 end-0 p-3" aria-live="polite" aria-atomic="true">
    @for (notification of notifications(); track notification.id) {
        <ngb-toast
            [class.bg-success]="notification.type === 'success'"
            [class.bg-danger]="notification.type === 'error'"
            [class.bg-info]="notification.type === 'info'"
            [class.text-light]="true"
            [autohide]="true"
            [delay]="notification.delay"
            (hidden)="onHidden(notification)"
        >
            {{ notification.message }}
        </ngb-toast>
    }
</div>
